<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">MongWeb Scraper</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <a class="nav-item nav-link active" href="/">Home </a>
         <a class="nav-item nav-link" href="/saved">Saved Articles
            <span class="sr-only">(current)</span>
         </a>
      </div>
   </div>
</nav>
<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <h1 class="display-4">Mongo Web Scraper</h1>
      <p class="lead">World News Edition.</p>
   </div>
</div>
<div>
   <img src="../public/assets/jointcoffee.jpg" alt="Joint&coffee" width="100%">
</div>
<h1>saved pages</h1>